@use "../../styles/partials/typography" as *;

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &__title {
    font-family: Monoton;
    font-size: 8rem;
    font-weight: 300;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #bd93f9;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    animation: slidein 1s;
    animation-fill-mode: forwards;
  }

  &__enter-container {
    display: flex;
    justify-content: center;
  }

  &__enter {
    color: #ff5555;
    background-color: #44475a;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    animation: slidein 1s;
    animation-fill-mode: forwards;
  }

  &__enter:hover {
    transition: 0.5s;
    background-color: #282a36;
  }

  &__enter:visited {
    background-color: #bd93f9;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(100%);
  }
}
